// header
ul.main-navigation {
  list-style: none;
  margin: 0 0 0 40px;
  li {
    a {
      display: block;
      padding: 6px 0 0 55px;
      line-height: 34px;
      background-size: 30px;
      background-position: left center;
      background-repeat: no-repeat;
      font-size: 18px;
      transition: all .3s linear;
      margin-bottom: 10px;
    }
    &.menu-item-32 {
      a {
        background-image: url(../images/gallery.png);
      }
      &:hover,
      &.current-menu-item,
      &.current-page-ancestor {
        a {
          background-image: url(../images/gallery-hov.png);
        }
      }
    }
    &.menu-item-24 {
      a {
        background-image: url(../images/gift.png);
      }
      &:hover,
      &.current-menu-item{
        a {
          background-image: url(../images/gift-hov.png);
        }
      }
    }
    &.menu-item-23 {
      a {
        background-image: url(../images/music.png);
      }
      &:hover,
      &.current-menu-item,
      &.current-page-ancestor{
        a {
          background-image: url(../images/music-hov.png);
        }
      }
    }
    &.menu-item-25 {
      a {
        background-image: url(../images/rsvp-new.png);
      }
      &:hover,
      &.current-menu-item{
        a {
          background-image: url(../images/rsvp-new-hov.png);
        }
      }
    }
    &.menu-item-13 {
      a {
        background-image: url(../images/rsvp.png);
      }
      &:hover,
      &.current-menu-item{
        a {
          background-image: url(../images/rsvp-hov.png);
        }
      }
    }
    &.menu-item-14 {
      a {
        background-image: url(../images/home.png);
      }
      &:hover,
      &.current-menu-item{
        a {
          background-image: url(../images/home-hov.png);
        }
      }
    }
    &.logout {
      a {
        background-image: url(../images/logout.png);
      }
      &:hover {
        a {
          background-image: url(../images/logout-hov.png);
        }
      }

    }
  }
}

//Header image

.intro-image {
  .panel {
    padding: 0;
    background: none;
    border: none;
    img {
      width: 100%;
    }
  }
}
.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 50px 0 0;
  p {
    color: #fff;
    &.intro {
      font-family: $lobster;
      font-size: 30px;
    }
    &.date {
      margin: 0;
    }
  }
  h1 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

#menuTrigger {
  display: none;
}
#menu-wrapper {
  float: right;
}
@media only screen and (max-width: 930px) {
  ul.main-navigation {
      margin-left: 20px;
    li a {
      padding-top: 0;
    }
  }
}
@media only screen and (max-width: 930px) {
  ul.main-navigation {
    li a {
      margin-bottom: 5px;
    }
  }
}
@media only screen and (max-width: 820px) and (min-width: 642px) {
  #masthead {
    .intro-image .panel {
      border: 5px solid #fff;
      position: relative;
      height: 350px !important;
      overflow: hidden;
      img {
        width: 580px;
        top: -10px;
        position: absolute;
        left: 50%;
        max-width: none;
        margin-left: -280px;
      }
    }
  }
}
@media only screen and (max-width: 755px) and (min-width: 642px) {
  #masthead {
    .intro-image .panel {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
@media only screen and (min-width: 642px) {
  #navigation {
    display: block !important;
  }
}
@media only screen and (max-width: 641px) {
  ul.main-navigation {
    margin-left: 40px;
    li a {
      padding-top: 6px;
      margin-bottom: 10px;
    }
  }
  #sidebar-images img {
    padding-bottom: 25px;
    margin: 0 auto;
    display: block;
  }
  #navigation {
    display: none;
  }
  #menu-wrapper {
    .panel {
      padding: 0;
      transition: all 0.3s linear;
    }
    &.active {
      .panel {
        padding: 20px;
      }
    }
  }
  #menuTrigger {
    display: block;
    position: relative;
    padding-left: 50px;
    height: 40px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px solid #eaeaea;
    line-height: 40px;
    transition: all 0.3s linear;
    &.active {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #eaeaea;
      height: 60px;
      margin-left: 40px;
      margin-right: 40px;
    }
    &::after {
      content: '\f169';
      font-family: 'foundation-icons';
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      text-decoration: inherit;
      position: absolute;
      background: $primary-color;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 560px) {
  #masthead {
    .intro-image .panel {
      border: 5px solid #fff;
      position: relative;
      height: 350px !important;
      overflow: hidden;
      img {
        width: 580px;
        top: -10px;
        position: absolute;
        left: 50%;
        max-width: none;
        margin-left: -280px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  ul.main-navigation {
    margin-left: 20px;
  }
  #menuTrigger {
    &.active {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}