@charset 'UTF-8';

@import "../components/foundation/scss/normalize.scss";
@import "site_settings";
@import "../components/foundation/scss/foundation.scss";
@import "foundation-icons.scss";
@import url(https://fonts.googleapis.com/css?family=Bad+Script|Pacifico);

//Add core site styles in here
body {
	font-size: 18px;
	background: url(../images/background.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	p {
		font-size: 18px;
	}
}
h1, h2 {
	.panel & {
		margin-bottom: 40px;
	}
	margin-bottom: 40px;
}

#primary {
	padding-top: 20px;
}

//Images

.wp-caption {
	max-width: 100% !important;
	p {
		font-style: italic;
		padding-top: 5px;
	}
	&.aligncenter {
		margin: 0 auto;
	}
	&.alignleft {
		margin: 8px auto 0;
		float: left;
		margin-right: 5px;
		p {
			margin-bottom: 10px;
		}
	}
	&.alignright {
		margin: 8px auto 0;
		float: right;
		margin-left: 5px;
		p {
			margin-bottom: 10px;
		}
	}
	
}
img.alignright {
	float: right;
	margin: 8px auto 0;
	margin-left: 15px;
	margin-bottom: 15px;
}
img.alignleft {
	float: left;
	margin: 8px auto 0;
	margin-right: 15px;
}


//panel Defaulf fix {

.panel {
	background: rgba(255,255,255,0.95);
	border: 1px solid #fff;
	-webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.75);
	&::after {
		clear: both;
		width: 100%;
		clear: both;
		display: block;
		content: '';
	}
}

//Shortcode default fixes 

ul.accordion {
	margin-left: 0;
}

@import 'header';