# Application
public_html/app/plugins/*
!public_html/app/plugins/.gitkeep
!public_html/app/plugins/comber-wedding
public_html/app/mu-plugins/*
!public_html/app/mu-plugins/.gitkeep
public_html/app/upgrade
public_html/app/uploads/*
!public_html/app/uploads/.gitkeep
!public_html/app/mu-plugins/disallow-indexing.php
!public_html/app/mu-plugins/register-theme-directory.php
!public_html/app/mu-plugins/bedrock-autoloader.php
config/environments/master.php
public_html/app/themes/foundation-theme
public_html/app/themes/foundation-theme/*

# WordPress
public_html/wp
!public_html/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant


### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea